development:
    dialect: sqlite3
    datasource: test.db
    dir: migrations/sqlite3

test:
    dialect: mysql
    datasource: root@dbname?parseTime=true
    dir: migrations/mysql
    table: migrations

production:
    dialect: postgres
    datasource: dbname=myapp sslmode=disable
    dir: migrations/postgres
    table: migrations
